/.env
/kalauz.log
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources/94374f96-5d37-44b8-a483-cf8a66dd9ed6/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
/.idea/dataSources/94374f96-5d37-44b8-a483-cf8a66dd9ed6/storage_v2/_src_/schema/kalauz.MAUgvA.meta
/.idea/dataSources/94374f96-5d37-44b8-a483-cf8a66dd9ed6/storage_v2/_src_/schema/mysql.osA4Bg.meta
/.idea/dataSources/94374f96-5d37-44b8-a483-cf8a66dd9ed6/storage_v2/_src_/schema/performance_schema.kIw0nw.meta
/.idea/dataSources/94374f96-5d37-44b8-a483-cf8a66dd9ed6/storage_v2/_src_/schema/sys.zb4BAA.meta
/.idea/dataSources/94374f96-5d37-44b8-a483-cf8a66dd9ed6.xml
/.idea/dictionaries/gymate1.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2023__12__08__17_08/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2023__12__08__17_081/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_2023__12__08__17_08.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_2023__12__08__17_081.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/kalauz.iml
/.idea/misc.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
