# future: delete line below and extract dependencies below that to requirements-dev.txt when https://youtrack.jetbrains.com/issue/PY-9941/ is fixed
# only for development
black~=24.4.2
lxml-stubs~=0.5.1
mypy~=1.10.1
mypy-extensions~=1.0.0
pandas-stubs~=2.2.2.240603
pathspec~=0.12.1
pip-tools~=7.4.1
platformdirs~=4.2.2
types-beautifulsoup4~=4.12.0.20240511
types-openpyxl~=3.1.5.20240630
types-pytz~=2024.1.0.20240417
types-requests~=2.32.0.20240622
types-shapely~=2.0.0.20240618

beartype~=0.18.5
beautifulsoup4~=4.12.3
certifi~=2024.7.4
charset-normalizer~=3.3.2
idna~=3.7
geojson~=3.1.0
Jinja2~=3.1.4
joblib~=1.4.2
lxml~=5.2.2
markdown-it-py~=3.0.0
MarkupSafe~=2.1.5
mdurl~=0.1.2
mysql-connector-python~=9.0.0
numpy~=2.0.0
openpyxl~=3.1.2
overpy~=0.7
pandas~=2.2.2
plum-dispatch~=2.5.0
pydeck~=0.9.1
Pygments~=2.18.0
pypdf~=4.2.0
pyproj~=3.6.1
python-dateutil~=2.9.0
python-dotenv~=1.0.1
pytz~=2024.1
regex-spm~=1.0.0
requests~=2.32.3
rich~=13.7.1
roman~=4.2
scikit-learn~=1.5.1
scipy~=1.14.0
shapely~=2.0.4
six~=1.16.0
soupsieve~=2.5
SQLAlchemy~=2.0.31
tenacity~=8.5.0
threadpoolctl~=3.5.0
typing_extensions~=4.12.2
urllib3~=2.2.2
xlrd~=2.0.1