# future: delete line below and extract dependencies below that to requirements-dev.txt when https://youtrack.jetbrains.com/issue/PY-9941/ is fixed
# only for development
black~=25.1.0
lxml-stubs~=0.5.1
mypy~=1.17.1
mypy-extensions~=1.1.0
pandas-stubs~=2.3.2.250827
pathspec~=0.12.1
pip-tools~=7.5.0
platformdirs~=4.4.0
types-beautifulsoup4~=4.12.0.20250516
types-openpyxl~=3.1.5.20250822
types-pytz~=2025.2.0.20250809
types-requests~=2.32.4.20250809
types-shapely~=2.1.0.20250822

beartype~=0.21.0
beautifulsoup4~=4.13.5
certifi~=2025.8.3
charset-normalizer~=3.4.3
idna~=3.10
geojson~=3.2.0
Jinja2~=3.1.6
joblib~=1.5.2
lxml~=5.3.0
markdown-it-py~=3.0.0
MarkupSafe~=2.1.5
mdurl~=0.1.2
mysql-connector-python~=9.4.0
numpy~=2.3.2
openpyxl~=3.1.5
overpy~=0.7
pandas~=2.3.2
plum-dispatch~=2.5.7
pydeck~=0.9.1
Pygments~=2.19.2
pypdf~=4.3.1
pyproj~=3.7.2
python-dateutil~=2.9.0
python-dotenv~=1.1.1
pytz~=2025.2
regex-spm~=1.0.0
requests~=2.32.5
rich~=13.7.1
roman~=4.2
scikit-learn~=1.7.1
scipy~=1.16.1
shapely~=2.1.1
six~=1.17.0
soupsieve~=2.8
SQLAlchemy~=2.0.43
tenacity~=9.1.2
threadpoolctl~=3.6.0
typing_extensions~=4.15.0
urllib3~=2.5.0
xlrd~=2.0.2