# future: delete line below and extract dependencies below that to requirements-dev.txt when https://youtrack.jetbrains.com/issue/PY-9941/ is fixed
# only for development
black~=24.4.2
lxml-stubs~=0.5.1
mypy~=1.10.0
mypy-extensions~=1.0.0
pandas-stubs~=2.2.1.240316
pathspec~=0.12.1
pip-tools~=7.4.1
platformdirs~=4.2.1
types-beautifulsoup4~=4.12.0.20240504
types-openpyxl~=3.1.0.20240428
types-pytz~=2024.1.0.20240417
types-requests~=2.31.0.20240406

beautifulsoup4~=4.12.3
certifi~=2024.2.2
charset-normalizer~=3.3.2
python-dateutil~=2.9.0
idna~=3.7
geojson~=3.1.0
Jinja2~=3.1.4
lxml~=5.2.1
MarkupSafe~=2.1.5
mysql-connector-python~=8.4.0
numpy~=1.26.4
openpyxl~=3.1.2
overpy~=0.7
pandas~=2.2.2
pydeck~=0.9.0
pypdf~=4.2.0
python-dotenv~=1.0.1
pytz~=2024.1
regex-spm~=1.0.0
requests~=2.31.0
roman~=4.2
scikit-learn~=1.4.2
shapely~=2.0.4
six~=1.16.0
soupsieve~=2.5
SQLAlchemy~=2.0.30
tenacity~=8.3.0
typing_extensions~=4.11.0
urllib3~=2.2.1
xlrd~=2.0.1